@-webkit-keyframes a-ripple {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0; } }

@keyframes a-ripple {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0; } }

.limiter {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.hall {
  background-color: #e1e2e6;
  position: relative;
  font-family: Arial, sans-serif;
  padding: 50px 0; }
  .hall__wrapper {
    position: relative;
    width: 100%;
    padding: 50px 50px 10px; }
  .hall__box {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    z-index: 100; }
    .hall__box._lines {
      z-index: 10; }
  .hall__screen {
    width: 97.91667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    position: relative;
    top: -31px; }
    .hall__screen-cloth {
      width: 100%;
      height: 5px;
      background-color: black;
      background: #f9f9f9;
      height: 5px;
      margin-top: 3px;
      font-size: 1px;
      line-height: 1px;
      border-radius: 3px;
      box-shadow: 0 1px 1px #999; }
    .hall__screen-tip {
      font-family: Arial, sans-serif;
      position: absolute;
      top: 0;
      color: #666;
      font-size: 11px;
      line-height: 1;
      width: 50px; }
      .hall__screen-tip._left {
        left: -75px;
        text-align: right; }
      .hall__screen-tip._right {
        right: -75px; }
  .hall__places {
    position: relative;
    width: 100%;
    height: 100%; }
    .hall__places-item {
      position: absolute;
      width: 20px;
      height: 20px;
      cursor: pointer;
      z-index: 100; }
      .hall__places-item:hover {
        z-index: 110; }
    .hall__places-chair {
      background-color: white;
      position: relative;
      border-radius: 3px;
      width: 18px;
      height: 18px;
      display: inline-block;
      line-height: 18px;
      text-align: center;
      font: 700 11px/18px Arial, Helvetica, sans-serif;
      color: transparent; }
      .hall__places-item.is-free .hall__places-chair {
        background-color: white;
        box-shadow: 0 1px 1px #9e9fa0, -1px 0 1px #dcdde2; }
        .is-dark .hall__places-item.is-free .hall__places-chair {
          box-shadow: 0 1px 1px #666, inset 0 1px 1px #aaa; }
      .hall__places-item.is-checked .hall__places-chair {
        background-color: #ff7d1e;
        background-image: -webkit-linear-gradient(bottom, #ff7d1e, #f7650c);
        background-image: linear-gradient(to top, #ff7d1e, #f7650c);
        background-repeat: repeat-x;
        color: #fefefe;
        text-shadow: 0 -1px 0 #b15211;
        box-shadow: 0 1px 1px #9e9fa0, inset 0 1px 1px #9e9fa0; }
      .hall__places-item.is-busy .hall__places-chair {
        background-color: transparent;
        box-shadow: inset 0 1px 1px #9e9fa0, inset 0 -1px 0px #fefefe; }
        .is-dark .hall__places-item.is-busy .hall__places-chair {
          box-shadow: inset 0 1px 1px #666, inset 0 -1px 0px #fefefe; }
      .hall__places-item.is-free:hover .hall__places-chair {
        width: 26px !important;
        height: 26px !important;
        line-height: 26px !important;
        top: -4px;
        left: -4px;
        background-color: #ff7d1e;
        background-image: -webkit-linear-gradient(bottom, #ff7d1e, #f7650c);
        background-image: linear-gradient(to top, #ff7d1e, #f7650c);
        background-repeat: repeat-x;
        color: #fefefe;
        text-shadow: 0 -1px 0 #b15211;
        box-shadow: 0 0 2px #999; }
    .hall__places-row {
      position: absolute;
      color: #666;
      width: 50px;
      height: 20px;
      font-size: 11px;
      line-height: 20px; }
      .hall__places-row::after {
        content: attr(data-row); }
      .hall__places-row._left {
        left: -75px;
        text-align: right; }
      .hall__places-row._right {
        right: -75px; }
      .is-dark .hall__places-row {
        color: #fff; }
  .hall__line {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #9199a1;
    height: 21px;
    margin-top: -1px;
    width: 100%;
    opacity: 0; }
    .hall__line.is-hover {
      opacity: 1; }

.hall-info {
  width: 400px;
  margin: 15px auto 0;
  font-size: 11px; }
  .hall-info__title {
    font-weight: 700;
    text-align: center;
    color: #838489;
    font-size: 12px; }
  .hall-info__legend {
    position: relative;
    display: inline-block;
    margin: 20px auto 20px;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    background: #bcbfc6;
    padding: 10px 15px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2); }
  .hall-info__story {
    width: 31.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  .hall-info__story-pointer {
    background-color: white;
    position: relative;
    border-radius: 3px;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    line-height: 1.5em;
    text-align: center;
    font: 700 11px/1.5em Arial, Helvetica, sans-serif;
    color: transparent;
    display: inline-block; }
    .hall-info__story.is-free .hall-info__story-pointer {
      background-color: white;
      box-shadow: 0 1px 1px #9e9fa0, -1px 0 1px #dcdde2; }
      .is-dark .hall-info__story.is-free .hall-info__story-pointer {
        box-shadow: 0 1px 1px #666, inset 0 1px 1px #aaa; }
    .hall-info__story.is-checked .hall-info__story-pointer {
      background-color: #ff7d1e;
      background-image: -webkit-linear-gradient(bottom, #ff7d1e, #f7650c);
      background-image: linear-gradient(to top, #ff7d1e, #f7650c);
      background-repeat: repeat-x;
      color: #fefefe;
      text-shadow: 0 -1px 0 #b15211;
      box-shadow: 0 1px 1px #9e9fa0, inset 0 1px 1px #9e9fa0; }
    .hall-info__story.is-busy .hall-info__story-pointer {
      background-color: transparent;
      box-shadow: inset 0 1px 1px #9e9fa0, inset 0 -1px 0px #fefefe; }
      .is-dark .hall-info__story.is-busy .hall-info__story-pointer {
        box-shadow: inset 0 1px 1px #666, inset 0 -1px 0px #fefefe; }
  .hall-info__story-descr {
    display: inline-block;
    font: 1em/1.7em Arial, Helvetica, sans-serif;
    vertical-align: top;
    margin-left: 0.5em; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiLi4vY3NzL2Jhc2VTYXNzLmNzcyIsInNvdXJjZXMiOltdLCJtYXBwaW5ncyI6Ijs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Iiwic291cmNlUm9vdCI6IiJ9*/