//Colors
//////////
$c_gray_1: #FFFFFF;
$c_gray_0: #000000;

//////////
//Dimentions
//////////


//////////
//Typographics
//////////
$b_fs: 10px;        //base font size
$b_lh: 1.613;       //base line height

//////////
//Fonts
//////////

//////////
//Other
//////////
$b_td: 0.3s;        //base transition duration
$b_tf: cubic-bezier(0.23, 1, 0.32, 1);        //base transition funtion
$img:'../img/';     //path to img
$fonts:'../fonts/'; //path to fonts
$svg:'../svg/';	    //path to svg