.hall-buy {
    border: 1px solid #d9d9d9;
    
    float: left;
    width: 100%;
    // height: 79px;
    background: #f4f4f4;
    &__overall,
    &__no-data {
        padding: 18px 4px 16px 25px;
        height: 79px;
        color: #50545f;
        
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        margin-right: -1px;
		
		border-bottom: 1px solid #ddd;
        @include respond-to('sm') {
        	border-bottom: none;
        	border-right: 1px solid #ddd;
        }
    }
    &__no-data{
    	line-height: 2.5;
    	@include respond-to('sm') {
        	border-right: none;
        }
    	@include respond-to('md') {
        	border-right: 1px solid #ddd;
        }
    }
    &__btns{
    	background-color: white;
    	height: 79px;
    	
    	@include respond-to('md') {
        	border-left: 1px solid #d9d9d9;
        }

    }
    &__btn-buy {
        background: linear-gradient(180deg, #4c8dfe 0, #2872ee 100%);
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
        border: 1px solid #3266c0;
        background: #f6f6f6;
        background: linear-gradient(180deg, #70a2f9 0, #528bee 100%);
        box-shadow: inset 0 1px rgba(255, 255, 255, .3), 0 2px 1px rgba(0, 0, 0, .25);
        height: 46px;
        box-sizing: border-box;
        text-decoration: none;
        display: inline-block;
        line-height: 43px;
        text-align: center;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;
        padding: 0 16px;
        text-shadow: none;
        user-select: none;
        width: 50%;
        float: right;
        margin-top: 20px;

    }

    &__cost{
    	float: left;
    	width: 50%;
    	 padding: 15px 28px 16px 15px;
    	 font-size: 13px;
    color: #333;
    font-weight: 700;

		
		&-total{
			font-size: 24px;
			margin-left: 5px;
		}

		&-tax{
			font-size: 10px;
    line-height: 1.2;
    color: #939393;
		}
    }

    &__places{
    	// padding: 20px 0 16px 15px;
		height: 79px;
		// border-bottom: 1px solid #d9d9d9;
    	&-row{
    		float: left;
			height: 100%;
    padding: 18px 12px 17px;

    color: #939393;
    line-height: 22px;
    font-size: 13px;
			&-num{
			}

    		&-value{
    			font-size: 14px;
				color: #333;
    		}
    	}
    }
}
